.s_height{

    height: 100vh;
}

.s_form{

    position: relative;
}

.s_form .s_fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.s_form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.s_left-pan{
    padding-left: 7px;
}

.s_left-pan i{
   
   padding-left: 10px;
}

.s_form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.s_form-input:focus{

    box-shadow: none;
    border:none;
}